html,
body {
  height: 100%;
}

body {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

#container
{
	width: 100%;
	height: 100%;
    padding: 15px;
    margin: auto;
}

#consoleFrame{
	border:2px solid #888;
	width:100%;
	height:300px; 
	overflow-y: scroll; 
	overflow-x: hidden; 
	background-color: #888;
}

#consoleFrame .logbox {
	position: relative;
	padding: 0.1rem 1rem;
	border: 1px solid transparent;
	border-radius: 1.25rem;
	border-color: #7b7b7b!important;
	color: #383d41;
	text-align: left;
	background-color: #e2e3e5;
}
#consoleFrame .logbox .control{
	display: inline;
}

#consoleFrame .logbox .text{
	display: inline;
}